{% extends 'TicketsUserBundle:Login:layout.html.twig' %}
{% block content %}

		<!-- Home -->
			<div class="wrapper wrapper-style1 wrapper-first">
				<article class="container" id="top">
					<div class="row">
						<div class="4u">
							<span class="me image image-full"><img src="{{ asset('bundles/user/login/images/support2.png') }}" alt="" /></span>
						</div>
						<div class="8u">
							<header>
								<h1><strong>Sistema de Soporte</strong>.</h1>
							</header>
						</div>
					</div>
				</article>
			</div>

		<!-- Contact -->
			<div class="wrapper wrapper-style2">
				<article id="contact">
					<header>
						<h2>Ingrese su E-mail:</h2>
					</header>
					<div>
						<div class="row">
							<div class="12u">
								<form method="post" action="/web/seetickets/">
									<div>
										<div class="row half">
											<div class="12u">
												<input type="text" name="email" id="email" placeholder="Correo electrónico" />
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<a href="#" class="button form-button-submit">Enviar</a>
												<a href="#" class="button button-alt form-button-reset">Limpiar</a>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					<footer>
						<p id="copyright">
							&copy; 2014 Sensukho
						</p>
					</footer>
				</article>
			</div>

{% endblock %}